.head{
    display: flex;
    flex-direction: row;
    background-color: #ffa220;
    justify-content: space-between;
    align-items: center;
    height: 15vh;

}

.home__logo{
    padding-left: 2rem;
    width: 5vh;
}

.home__title{
    font-family: 'Courier New', Courier, monospace;
}

.head__img{
    width: 32vh;
}

@media only screen and (max-width: 600px){
    .head{
        width: 75vh;
    }
    .head__img{
        width: 40%;
    }

    .home__title{
        font-size: small;
    }

    .home__logo{
        width: 10%;
    }
}
