.head{
    display: flex;
    flex-direction: row;
    background-color: #ffa220;
    justify-content: space-between;
    align-items: center;

}

.home__logo{
    padding-left: 2rem;
    width: 50px;
}

.home__title{
    font-family: 'Courier New', Courier, monospace;
}

.head__img{
    width: 25rem;
}

@media only screen and (max-width: 600px){
    .head__img{
        width: 9rem;
    }

    .home__title{
        font-size: small;
    }

    .home.logo{
        width: 20px;
        height: 20px;
    }
}
