.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFA220;
    height: 5vh;
    align-items: center;
}

.footer a{
    padding-right: 5rem;
    align-items: center;
    text-decoration: none;
    color: black;
}
.copy{
    padding-left: 1rem;
}

@media screen and (max-width: 600px) {
    .footer{
        width: 75vh;
        height: 4vh;
    }
    
}