.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background-image: url('../../../assets/bg/Yellowyellowbg.svg');
    background-repeat: repeat;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 41rem;
}

.button{
    margin-top: 0;
    width: 200px;
    height: 100px;
    background-color: #FFA220;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.list{
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.todos{
    padding: 2rem;
    max-width: 25rem;
}

@media only screen and (max-width: 600px){
    .container{
        width: 75vh;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
}

