<section class="container">
    <div>   
        <header class="header">
            <button type="button" class="button" routerLink="/todocreate">+ Nova atividade</button>
        </header>
    </div>

    <div *ngIf="todoList.length>0, else noTodo" class="list">
                <div class="todos" *ngFor="let todo of todoList">
                    <app-todos [todo] = 'todo'></app-todos>
                </div>
     </div>

</section>

<ng-template #noTodo>
    <div class="ff-inte sem-pensamentos">
        <p>Ainda não há atividades cadastradas!</p>
    </div>
</ng-template>