.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/bg/Yellowyellowbg.svg');
}

.forms{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100%;
    margin: 1rem;
    padding: 2rem;
}

.input{
    border: none;
    height: 40px;
    padding-left: 1rem;

}

.models{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem;
}

.modelo {
    background-color: #F8F9FE;
    padding: 2rem;
    max-width: 250px;
    margin: 1rem 0 2rem;
  }
  
  .modelo .conteudo {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .modelo .autoria {
    word-wrap: break-word;
    font-weight: 700;
  }
  
  .radio {
    margin: 0;
  }
  
  .modelo1 {
    box-shadow: 8px 8px 0px #154580;
  }
  
  .modelo2 {
    box-shadow: 8px 8px 0px #6BD1FF;
  }
  
  .modelo3 {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  input[type='radio'] {
    display: none;
  }
  
  .radio-modelo label {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .custom-radio {
    border: 1px solid #154580;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
  }
  
  .custom-radio,
  span {
    transition: 0.5s ease;
    color: #154580;
  }
  
  .custom-radio span {
    content: '';
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
  }
  
  input[type='radio']:checked+.custom-radio {
    border-color: #154580;
  }
  
  input[type='radio']:checked+.custom-radio span {
    background: #154580;
  }