.acoes {
    display: flex;
    justify-content: flex-end;
    background-color: #F8F9FE;
  }
  
  .botao-excluir {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .botao-editar {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .model {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .model .content {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .modelo1 {
    box-shadow: 8px 8px 0px #F44336;
  }
  
  .modelo2 {
    box-shadow: 8px 8px 0px #FFD54F;
  }
  
  .modelo3 {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  .todo-g {
    width: 556px;
  }
  
  .todo-p {
    width: 262px;
  }
  
  @media screen and (max-width: 768px) {
    .todo-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .todo-p {
      width: 100%;
    }
  }